.bag{
    background-image: url("img/bag.jpg");
}

.banana{
    background-image: url("img/banana.jpg");
}

.bathroom{
    background-image: url("img/bathroom.jpg");
}

.boots{
    background-image: url("img/boots.jpg");
}

.breakfast{
    background-image: url("img/breakfast.jpg");
}

.bubblegum{
    background-image: url("img/bubblegum.jpg");
}

.chair{
    background-image: url("img/chair.jpg");
}

.cthulhu{
    background-image: url("img/cthulhu.jpg");
}

.dog-duck{
    background-image: url("img/dog-duck.jpg");
}

.dragon{
    background-image: url("img/dragon.jpg");
}

.pen{
    background-image: url("img/pen.jpg");
}

.pet-sweep{
    background-image: url("img/pet-sweep.jpg");
}

.scissors{
    background-image: url("img/scissors.jpg");
}

.shark{
    background-image: url("img/shark.jpg");
}

.sweep{
    background-image: url("img/sweep.png");
}

.tauntaun{
    background-image: url("img/tauntaun.jpg");
}

.usb{
    background-image: url("img/usb.gif");
}

.water-can{
    background-image: url("img/water-can.jpg");
}

.wine-glass{
    background-image: url("img/wine-glass.jpg");
}