body, header, footer{
    background-color: #c7c7c7;
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo{
    width: 40%;
    display: inline-block;
}
.logo p, h1{
    float:left;
}

.logo h1{
   
}

main{
    margin:0;
    padding:0;
   
}

aside{
    float: left;
    width: 20%;
    border: solid 1px #333;
    height: 400px;
    margin: 15px;
    padding: 15px;
}

section{
    float:right;
    width: 70%;
    padding: 15px;
}

#products img{
    padding: 15px;
}